.detailsProd_main_container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 42px;
    background:linear-gradient(to right, rgb(255, 255, 255), var(--off-white));
    position: relative;
}
.details_prod_background{
    width: 100%;
    height: 100%;
    background:linear-gradient(to right, white, var(--off-white));
    display: flex;
    justify-content: center;
}
#title{
    position: absolute;
    width: calc(100vw -84px);
    font-size: 18px;
    top:10px
}
#test{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
/*
image 
*/
.detailsProd_image_container{
    width: 500px;
    min-width: 300px;          /**/
    height: calc(100vh - 96px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.detailsProd_image_container img{
    max-width: 100%;
    max-height:320px ;
    object-fit: cover;
    background-repeat: no-repeat;
}
.detailsProd_flags{
    width: 100%;
    height: 70%;
    max-height: 100px !important;
    position: absolute;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: #ef2100; */
}
.detailsProd_genius{
    width: 65px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-image: -webkit-linear-gradient(21deg,#080171 0%,#ff0059 100%);
    background-image: linear-gradient(69deg,#080171 0%, #ff0059 100%);
    font-family: var(--roboto);
    letter-spacing: 0.3px;
}
.detailsProd_flags div span:nth-child(1),
.detailsProd_flags div span:nth-child(2){
    width: 100px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--roboto);
    letter-spacing: 0.3px;
}
.detailsProd_flags div span:nth-child(1){
    background-color: #ef2000; 
    margin-bottom: 5px;
}
.detailsProd_flags div span:nth-child(2){
    width: 103px;
    height: 24px;
    background-color: rgb(34, 168, 240); 
}
/* 
main content
 */
 .detailsProd_main_content{
    width: 40vw;
    /* width: 500px; */
    min-height: calc(100vh - 96px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    /* background-color: rgba(250, 215, 215, 0.508); */
 }
 .detailsProd_main_content h1{
    width: 100%;
    font-size: 22px;
    color:#222222;
 }
 .detailsProd_link{
     text-decoration: none;
     font-size: 14px;
     margin: 5px 0;
     color:#4359c7;
 }
 .products_review{
    margin-top: 10px;
 }
 .products_review_star{
    color: #f9bf3b;
    width: 16px;
    height: 16px;
 }
 .detailsProd_buyers{
    margin-top: -8px;
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom: 15px;
 }
 .detailsProd_price{
    width: 100%;
 }
 .detailsProd_price div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }
 .detailsProd_price div p{
    font-size: 22px;
    color: #ef2000d6 !important;
    margin-right: 7px;
 }
 .detailsProd_price div h2{
    font-size: 28px;
    color:#222222
 }
.detailsProd_price p:nth-child(2){
    color: #888888;
    font-size: 14px;
    margin-top: -3px;
    margin-bottom: 15px;
 }
 .detailsProd_delivery{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
 }
 .detailsProd_delivery div span, 
 .detailsProd_benefits div span{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
 }
 .detailsProd_delivery div span{
     background-color: #4359c7;
 }
 .detailsProd_delivery div span svg,
 .detailsProd_benefits div span svg{
    color: white;
 }
 .detailsProd_delivery div:nth-child(2) h3{
    padding-top: 6px;
 }
 .detailsProd_delivery h3{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-bottom:8px;
 }
 .detailsProd_delivery div p{
    font-size: 13px;
    letter-spacing: 0.3px;
 }
 .detailsProd_delivery_options div p:nth-child(1){
    font-weight: 500 !important;
 }
 .detailsProd_delivery div p:nth-child(2){
    color:#444444
 }
 /* 
 purchase details
*/
.detailsProd_buy_main_container{
height: calc(100vh - 96px);
width: 350px;
display: flex;
align-items: center;
justify-content: center;
/* background-color: #0076001f; */
}
.detailsProd_buy_continer{
    width: 100%;
    padding: 1rem;
    /* border: 1px solid gray; */
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(219, 219, 219);
}
.detailsProd_benefits{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}
.detailsProd_benefits div span{
    background-color: #22a7f0;
}
.detailsProd_benefits div p:first-child{
    font-size: 15;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.detailsProd_benefits_p{
  font-size: 14px;
  margin-bottom: 15px;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.detailsProd_benefits_p svg{
    margin-right: 3px;
    width: 14px;
    height: 14px;
}
.detailsProd_benefits_p a{
    text-decoration: none;
    color: #4359c7;
}
.detailsProd_benefits{
    width: 400px;
}
.detailsProd_buy_price div:first-child p:first-child{
    text-decoration: line-through;
    font-size: 13px;
    color: #888888;
}
.detailsProd_buy_price div:first-child p:last-child{
    font-size: 28px;
    color:#222222;
    margin-top: -3px;
}
.detailsProd_installments{
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
  margin-top: -2px;
  color:#444444;
  font-weight: 500;
  font-family: var(--roboto);
}
.detailsProd_installments a{
    color:#4359c7;
    text-decoration: none;
    font-weight: 400;
}
.detailsProd_buy_genius{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.detailsProd_buy_genius img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.detailsProd_buy_genius a{
    font-size: 14px;
    text-decoration: none;
    color: #4359c7;
}
.detailsProd_buy_genius a span{
    font-weight: 500;
}
.detailsProd_buy_genius p{
    font-size: 14px;
    background: linear-gradient(to bottom right, #0526cc, #ef2000);
    background-clip: text;
    color: transparent;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.detailsProd_inStock{
    color: #007600;
    font-size: 18px;
    margin: 1rem 0;
}
.detailsProd_buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.detailsProd_buttons button{
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailsProd_buttons button:first-child{
    color: white;
    background: #3985e0;
    background: -webkit-linear-gradient(left,#4a60c1 10%,#3985e0);
    background: linear-gradient(to right,#4a60c1 10%,#3985e0);
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}
.detailsProd_buttons button:first-child:hover{
    background: -webkit-linear-gradient(left,#3c55c5 10%,#2377de);
    background: linear-gradient(to right,#3c55c5 10%,#2377de);
}
.detailsProd_buttons button:first-child::before{
    content: '';
    width:80px;
    height: 80px;
    border-radius: 40px;
    position: absolute;
    left: -25px;
    top:-25px;
    background: #fe2d34;
    background-image: -webkit-linear-gradient(left,#cf3f50,#fe2d34);
    background-image: linear-gradient(to right,#cf3f50,#fe2d34);
}
.detailsProd_buttons button:first-child svg{
    position: absolute;
    left: 15px;
    width: 25px;
    height: 25px;
}
.detailsProd_buttons button:nth-child(2){
    border: 1.2px solid #005eb8;
    color:#005eb8;
    background-color: white;
    cursor: pointer;
}
.detailsProd_buttons button:nth-child(2):hover{
    background-color: #eff7ff;
}
.detailsProd_buttons button:nth-child(2) svg{
    position: absolute;
    left: 15px;
    width: 25px;
    height: 25px;
}
#red-heart{
   color: #ef2809;
   animation: detaildProd_heart 0.3s forwards;
}

/*
 pop up
 */
 .detailsProd_confirmation{
    width: 100vw;
    height: calc(100vh - 96px);
    background-color:#00000059;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 99;
    animation: unlock_animm 0.3s forwards;
 }
 @keyframes unlock_animm {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }
 .detailsProd_confirmation span{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 5px;
 }
 .detailsProd_confirmation svg{
    width: 25px;
    height: 25px;
 }
 #prodDetails_heart{
    color: #ef2809;
    animation: detaildProd_heart 0.3s forwards;
 }
#prodDetails_cart{
    color: #2b8ef7;
    animation: detailsProd_cart 0.8s forwards;
}
.detailsProd_bin_icon{
    width: 29px !important;
    height: 29px !important;
    animation: detailsProd_bin 0.8s;
 }
.detailsProd_confirmation p {
   color: white;
   font-size: 18px;
   letter-spacing: 0.3px;
 }
 .detailsProd_add_review_btn{
    padding: 3px 6px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 4px;
    color: #fff;
    /* background-color: #005eb8; */
    background-color: #3985e0;
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    letter-spacing: 0.3px;
    margin-top: -5px;
    margin-left: 10px;
 }
 .detailsProd_add_review_btn:hover{
    background-color: #1973e1;
 }
 .detailsProd_delivery_options{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
 }
 .detailsProd_delivery_options > div:first-child{
    margin-right: 20px;
 }
 @keyframes detaildProd_heart {
    0%{
        scale: 0;
    }
    95%{
        scale:1.1
    }
    100%{
        scale:1
    }
 }
 @keyframes detailsProd_cart {
    70%{
        transform: translateX(-10px);
        opacity: 1;
    }
    100%{
        transform: translateX(20px);
        opacity: 0;
    }
 }
 @keyframes detailsProd_bin {
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);
    }
 }
/* 
responsive design
*/
@media screen and (min-width: 1530px){
    .detailsProd_main_container{
        width: 1520px !important;
    }
    .detailsProd_main_content{
        width: 650px;
    }
    .detailsProd_confirmation{
        left: calc(((100vw - 1520px) / 2) * -1)
    }
}
@media screen and (min-width: 1280px) and (max-width: 1530px){ 
    .detailsProd_main_container{
        width: 1280px !important;
    }
    .detailsProd_confirmation{
        left: calc(((100vw - 1280px) / 2) * -1)
    }
}
@media screen and (max-width: 1260px){
    .detailsProd_image_container{
        min-width: 250px;
    }
    .detailsProd_buy_main_container{
        width: 330px;
    }
    .detailsProd_main_content h1{
        font-size: 20px;
    }
    .detailsProd_main_container{
        padding: 10px;
    }
}

@media screen and (max-width: 1000px){
    .detailsProd_main_container{
        flex-direction: column;
        align-items: center;
        background: linear-gradient( rgb(255, 255, 255), var(--off-white));
    }
    .detailsProd_image_container{
        height: unset;
        margin-top: 40px;
        width: 60vw;
    }
    .detailsProd_image_container img{
        max-height: 280px;
    }
    .detailsProd_buy_main_container{
        width: calc(60vw - 32px);
        height: unset;
    }               
    .detailsProd_delivery{
        margin-top: 5px;
        margin-bottom: 5px;

    }
    .detailsProd_main_content{
       min-height: unset;
       margin-bottom: 25px;
    }
}
@media screen and (max-width: 850px){
    .detailsProd_image_container{
        width: 70vw;
    }
    .detailsProd_main_content{
      width: calc(70vw - 32px)
    }
    .detailsProd_buy_main_container{
        width: calc(70vw - 32px);
        height: unset;
    }
}
@media screen and (max-width: 750px){
    .detailsProd_main_container{
        padding: 15px 15px 25px 15px;
    }
    .detailsProd_image_container span img{
        height: auto;
        object-fit:contain;
    }
    .detailsProd_main_content h1{
        font-size: 17px;
        letter-spacing: 0.3px;
        line-height: 23px;
    }
    .products_review_star{
        width: 18.5px;
        height: 18.5px;
     }
     /*  btns fixed bar transformations */
     .detailsProd_menu_fixed{
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: row-reverse;
        left: 0;
        align-items: center;
        padding: 10px 10px;
        background-color: white;
        box-shadow: 0 0 5px rgb(221, 221, 221);
        animation: 0.3s btnMenuAppear forwards;
        z-index: 10;
}
.detailsProd_menu_fixed button:first-child{
    margin-bottom: unset;
}
.detailsProd_menu_fixed button:nth-child(2){
    text-indent: 1000%;
    overflow: hidden;
    white-space: nowrap;
    width: 45px;
    min-width: 45px;
    margin-right: 10px;
}
.detailsProd_menu_fixed button:nth-child(2) svg{
    margin-left: -5px;
}

}
@media screen and (max-width: 550px){
    .detailsProd_main_content{
        width: 100vw;
    }
    .detailsProd_buy_main_container{
        width: 100vw !important;
        padding: 0;
        max-width: unset;
    }
    .detailsProd_buy_continer{
         border: unset;
        box-shadow: unset;
    }
    .detailsProd_price div h2,
    .detailsProd_buy_price div:first-child p:last-child{
        font-size: 25px;
    }
    .detailsProd_price div p{
        font-size: 19px;
    }
.detailsProd_price{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px 10px 0 10px;
    margin-bottom: 18px;
 }
 .products_review p{
    margin-top: 2px !important;
 }
 .detailsProd_add_review_btn{
    margin-top: -2px; 
    margin-left:15px;
 }
 .detailsProd_main_content{
    margin-bottom: 0;
 }
 .detailsProd_benefits{
    border-bottom:10px solid white;
    margin-bottom: 20px;
    width: 100vw;
    margin-left: -15px;
    padding: 0px 15px 15px 15px;
 }
 .detailsProd_buy_genius{
    margin: 20px 0;
 }
 .detailsProd_inStock{
    margin: 15px 0;
 }
 .detailsProd_buyers{
    margin-left: 15px;
 }
 .detailsProd_buy_price{
    margin: 30px 0 20px 0;
 }
}

@keyframes btnMenuAppear {
    0%{
     transform: translateY(100px);
    }
    100%{
      transform: translateY(0);
    }
}