.liked_container {
    width: 100%;
    min-height: calc(100vh - 56px);
    background-color: var(--off-white);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding: 1rem 42px;
}

.liked_account_container {
    width: 265px;
}

.liked_content_conteiner {
    width: 100%;
    margin-left: 15px;
    padding-top: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.liked_content_title {
    width: 100%;
    background-color: white;
    padding: 10px 15px;
    margin-top: -15px;
    border-radius: 6px 6px 0 0;
}

.liked_content_title h1 {
    font-size: 24px;
    letter-spacing: 0.3px;
}

.liked_content_menu {
    width: 100%;
    background-color: var(--off-white);
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.liked_content_first_menu,
.liked_content_second_menu {
    height: 68px;
    width: 145px;
    background-color: white;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(220, 220, 220);
    cursor: pointer;
    position: relative;
}

.liked_content_first_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.liked_content_blue_bar_first,
.liked_content_blue_bar_second {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.liked_content_blue_bar_first {
    background-color: #005EB8;
}

.liked_content_first_menu h1,
.liked_content_second_menu h1 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
}

.liked_content_first_menu h1 {
    color: #005EB8;
}

.liked_content_second_menu h1 {
    color: black;
}

.liked_content_first_menu p,
.liked_content_second_menu p {
    font-size: 12px;
    color: var(--off-black);
}

.liked_content_second_menu p:nth-child(3) {
    color: rgb(152, 152, 152);
}

.liked_content_second_menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 12px;
}

.liked_content_second_menu span {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.liked_content_second_menu span svg {
    color: #005eb8;
    width: 12px;
    height: 12px;
}

.show_liked_products {
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 0 0 6px 6px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: none; */
}

.show_liked_title {
    width: 100%;
    height: 50px;
    border-bottom: 1.5px solid rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.show_liked_title h1 {
    font-size: 19px;
    margin-right: 15px;
    color: #222222;
}

.show_liked_title p {
    font-size: 15px;
    color: #5d5d5d;
}

/* empty liked page container */
.show_liked_img_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0;
}

.show_liked_img_container img {
    width: 20%;
    object-fit: cover;
}

.show_liked_title_container {
    width: 100%;
}

.show_liked_title_container h1 {
    width: 100%;
    text-align: center;
    font-size: 21px;
    color: #222222;
    letter-spacing: 0.3px;
}

.show_liked_p_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0;
}

.show_liked_p_container p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #5D5D5D;
}

.show_liked_p_container p svg {
    width: 13px;
    height: 13px;
    margin-bottom: -2px;
    color: #EF2809;
}

.show_liked_btn_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.show_liked_btn_container a {
    text-decoration: none;
    color: white;
    background-color: #005EB8;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 15px;
}

.show_liked_btn_container a:hover {
    background-color: #004e98;
}

/* 
responsive design
 */
@media screen and (min-width: 1530px) {
    .liked_container {
        width: 1436px;
        padding: 15px 0;
    }

    .liked_account_container {
        margin-right: 60px;
        min-width: 340px;
        width: 340px;
    }
}

@media screen and (min-width: 1280px) and (max-width:1530px) {
    .liked_container {
        width: 1196px;
        padding: 15px 0;
    }
}

@media screen and (max-width: 870px) {
    .show_liked_products {
        padding: 15px 20px;
    }

    .liked_account_container {
        display: none;
    }

    .liked_container {
        padding: 15px 10px;
        align-items: center;
    }

    .liked_content_conteiner {
        margin-left: 0;
    }

    .show_liked_img_container img {
        width: 180px;
    }

    .liked_content_conteiner {
        box-shadow: 0 0 10px rgb(242, 242, 242);
    }

    .liked_content_title h1 {
        font-size: 22px;
    }

    .show_liked_title h1 {
        font-size: 16px;
        letter-spacing: 0.2px;
    }

    .show_liked_title p {
        font-size: 14px;
        letter-spacing: 0.1px;
    }

    .show_liked_title_container h1 {
        font-size: 16px;
        letter-spacing: 0.3px;
    }

    .show_liked_p_container p {
        letter-spacing: 0.3px;
        font-size: 14.5px;
    }

    .show_liked_btn_container a {
        font-size: 14px;
    }

    .liked_container {
        min-height: unset;
    }

}