.orders_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.orders_left_and_right{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 42px;
}
.orders_center_container{
    width: 100%;
}
.orders_left{
    margin-right: 15px;
}
.orders_right{
    width: 100%;
}
.orders_right_menu,
.orders_notification{
    background-color: white;
    padding: 0 20px 0 20px;
    border-radius: 6px;
    box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.orders_right_menu h1{
    font-size: 25px;
    color: #222222;
    letter-spacing: 0.3px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
}
.orders_right_filters{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.orders_span_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.orders_right_filters span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.orders_right_filters span:first-child{
   margin-right: 15px;
}
.orders_right_filters span p{
   font-size: 14.5px;
   color:#333333;
   letter-spacing: 0.3px;
   margin-right: 5px;
}
.orders_right_filters span select{
    height: 32px;
    padding: 5px 0px 5px 7px;
    min-width: 145px;
    color: #666666;
    background-color: #fefefe;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    letter-spacing: 0.3px;
    font-size: 15px;
}
.orders_right_filters span select:focus{
    outline: none;
}
.orders_right_filters span select > option {
    color: #666666;
    background-color: white;
    letter-spacing: 0.3px;
}
.orders_input{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}
.orders_input input{
  height: 32px;
  min-width: 145px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px 0 3px 25px;
  font-size: 15px;
  color: #666666;
  letter-spacing: 0.3px;
}
.orders_input input:focus{
    outline: none;
}
.orders_input button{
    position:absolute;
    left: 1px;
    top:1px;
    height: 32px;
    width: 25px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}
.orders_input button svg{
    width: 17px;
    height: 17px;
    color: #666666;
}
.orders_notification{
    padding: 15px;
}
.orders_notification div{
    height: 65px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.orders_notification_first{
  width: 23px;
  height: 65px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #22A7F0;
}
.orders_notification_first svg{
    width: 22px;
    height: 22px;
    color:white;
    margin-top: 9px;
}
.orders_notification_second{
    width: 100%;
    padding: 10px;
}
.orders_notification_second p{
   margin-bottom: 5px;
}
.orders_notification_second p:first-child{
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #333333;
    font-size: 15px;
}
.orders_notification_second p:last-child{
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #444444;
}
/* pop up */
.orders_search_result{
    height: 250px;
    width: 400px;
    position: absolute;
    bottom: -260px;
    left: -190px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
    z-index: 3;
}
.orders_search_result div:first-child{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}
.orders_search_result div img{
     height: 130px;
     object-fit: cover;
     background-repeat: no-repeat;
}
.orders_search_result div:nth-child(2){
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.orders_search_result div:nth-child(2) p{
    width: 100%;
    text-align: center;
    font-size: 14.5px;
    letter-spacing: 0.4px;
    margin-bottom: 2px;
}
.orders_search_result div:nth-child(2) p:first-child{
    font-weight: 500;
}
@media screen and (min-width:1530px){
    .orders_left_and_right{
        width: 1436px !important;
        padding: 16px 0;
    }
    .orders_center_container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}
@media screen and (min-width:1280px) and (max-width:1530px){
    .orders_left_and_right{
        width: 1195px !important;
        padding: 16px 0;
    }
    .orders_center_container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}
@media screen and (max-width:980px){
    .orders_left{
        display: none;
    }
}
@media screen and (max-width:720px){
     .orders_left_and_right{
        min-height: 60vh;
     }
    .orders_left_and_right{
        padding: 15px 10px;
    }
    .orders_right_menu{
        padding: 0 15px;
    }
    .orders_notification{
        padding: 15px;
    }
}
@media screen and (max-width:655px){
    .orders_right_filters{
        flex-direction: column;
        height: 100%;
        padding: 15px 0;
        align-items: flex-start;
    }
    .orders_input{
        margin-top: 10px;
        width: 100%;
    }
    .orders_input input,
    .orders_span_container{
        width: 100%;
    }
    .orders_span_container select{
        min-width: unset !important;
    }
    .orders_right_filters span select{
        width: calc((100vw - 135px) / 2) !important;
    } 
    .orders_notification{
        height: 100% !important;
    }
    .orders_notification div{
        height: 100%;
    }
    .orders_notification_first{
        height: 84px;
    }
    .orders_search_result{
        width: calc(100vw - 20px);
        left:-20px
    }
}
@media screen and (max-width: 350px){
    .orders_notification_first{
        height: 102px;
    }
}