.yourfosquare_container{
    width: 300px;
    background-color: white;
    /* box-shadow: 0 0 10px rgb(191, 191, 191); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 0 0 0 15px;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}
.yourfosquare_img_container,
.yourfosquare_title_container,
.yourfosquare_text_and_icons_container,
.yourfosquare_button_container{
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.yourfosquare_img_container img{
    width: 40%;
    object-fit: cover;
    background-repeat: no-repeat;
} 
.yourfosquare_title_container h1{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.yourfosquare_text_and_icons_container{
margin-bottom: 45px;
}
.yourfosquare_text_and_icons_container p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #888888;
    margin-bottom: 5px;
}
.yourfosquare_icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.yourfosquare_icons div{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
}
.yourfosquare_icons div span{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}
.yourfosquare_icons div:first-child span{
    background-color: #2764c6;
}
.yourfosquare_icons div:nth-child(2) span{
    background-color: #c62727;
}
.yourfosquare_icons div:nth-child(3) span{
    background-color: rgb(46, 162, 0);
}
.yourfosquare_icons div span svg{
    color: var(--off-white);
    width: 19px;
    height: 19px;
}
.yourfosquare_icons div p{
    color: black
}
.yourfosquare_button_container{
    width: 100%;
    height: 40px;
    margin-top:30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    border-radius: 0 0 6px 6px;
    background-color: white;
    cursor: pointer;
    border-top:1.5px solid var(--off-white);
    text-decoration: none;
}
.yourfosquare_button_container:hover{
    background-color: rgb(226, 241, 255);
}
.yourfosquare_button_container p{
     font-size: 14px;
     color: #2784c6;
     font-weight: 600;
     letter-spacing: 0.3px;
     font-family: Arial, Helvetica, sans-serif !important;
     outline: none;
}
.yourfosquare_button_container p:focus{
    outline: none;
}