.existingAcc_container{
    position: absolute;
    top: 56px;
    background-color:white;
    width: 200px;
    animation: appear-nav-container 0.3s forwards;
    box-shadow: 0 0 10px rgb(191, 191, 191);
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
}
@keyframes appear-nav-container {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.existingAcc_title{
    width: 200px;
    padding: 10px;
    border-bottom:1.5px solid rgb(241, 241, 241);
    display: flex;
    align-items: center;
}
.existingAcc_title h1{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.existingAcc_options{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}
.existingAcc_options a p{
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
}
.existingAcc_options a p:hover{
     background-color: var(--off-white);
}
.existingAcc_genius span{
    background-image: linear-gradient(to bottom right, rgb(255, 75, 75), rgb(71, 75, 255));
    color: white;
    font-weight: 500;
    margin: 0 8px;
    padding: 0 5px 1px 5px;
    border-radius: 10px;
}

