#App_loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#App_loading svg {
  width: 28px;
  height: 28px;
  color: black;
  animation: App_loading_anim 1.1s linear infinite;
}

@keyframes App_loading_anim {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.app_container {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--off-white);
}